/* Styling is specific to dashboard.html */
.wrapper {
  display: flex;
  flex-direction: row;
  height: 1000px;
}

aside, main {
  padding: 1rem;
}

aside {
  background: #D3D3D3;
  width: 15vw;
}

main {
  background: #EFEFEF;
  width: 85vw;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-sort-bar {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.main-sort-bar > span {
  display: inline-flex;
  height: 25px;
}

.main-sort-bar > input {
  height: 25px;
}

.main-sort-bar-item {
  margin-right: 2rem;
}

span > h6 {
  margin-right: 1rem;
  padding-top: .3rem;
}

/* Table */

tr {
  cursor: pointer;
}

/* Footer */

footer {
  background: #444444;
  color: #fff;
  font-size: .8rem;
  padding: 1rem;
}