/* styling is specific to login.html */
body {
  background-image: url('../img/dot-grid.png');
  display: flex;
  justify-content: center;
  align-items: center;

}
.loginWindow-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px double darkblue;
  

}
/* .loginItem {
  padding: 10px
} */


