/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Page Content */ 

nav {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* jumbotron */

.jumbotron {
  padding: 0 !important;
}

.jumbo-sections {
  display: flex; 
  flex-direction: row;
}

.jumbo-left, .jumbo-right {
  width: 50%;
}

.jumbo-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2em;
}

.jumbo-right > img {
  height: 100%;
}



.studentOrSchool {
  width: 50%;
  align-self: center;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer > p {
  text-align: center;
}
